In [2]:
import pandas as pd
import numpy as np
from connect_to_mysql import Database
from datetime import datetime

In [2]:
df = pd.read_excel(
    # "/Users/ericchittka/rides_combined.csv"
    "C:/Users/jostm7/Desktop/Uni Mannheim/2. Semester/Teamprojekt/Daten_sharepoint/Daten/MoDstops+Preismodell.xlsx",sheet_name="Liste 2022"
)

# df = pd.read_excel()
# df.drop(labels=['Unnamed: 0','index'], axis=1,inplace=True)
# df = df.iloc[26:30]
df

,Start #,Start Name,Ende #,Ende Name,Route [m],Luftlinie [m],VRN-eTarif\nohne Bahncard,VRN-eTarif\nmit BahnCard,Qualitätszuschlag,MoD-Fahrpreis \nohne BahnCard,...,price_mod_3pers,price_mod_4pers,price_bahncard,price_bahncard_2pers,price_bahncard_3pers,price_bahncard_4pers,price_vrn_surcharge,price_vrn_surcharge_2pers,price_vrn_surcharge_3pers,price_vrn_surcharge_4pers
0,1001,Mandelgasse,1002,Hauptfeuerwache,366,285,1.65,1.24,0.900,2.550,...,6.000,7.725,2.140,3.865,5.180,6.700,0.900,2.625,3.940,5.460
1,1001,Mandelgasse,1003,Kindergarten St. Marien,994,586,1.65,1.24,0.900,2.550,...,6.000,7.725,2.140,3.865,5.180,6.700,0.900,2.625,3.940,5.460
2,1001,Mandelgasse,1004,Strohmarkt,796,694,1.65,1.24,0.900,2.550,...,6.000,7.725,2.140,3.865,5.180,6.700,0.900,2.625,3.940,5.460
3,1001,Mandelgasse,1005,Rathaus,555,510,1.65,1.24,0.900,2.550,...,6.000,7.725,2.140,3.865,5.180,6.700,0.900,2.625,3.940,5.460
4,1001,Mandelgasse,1006,Villenstraße,1416,947,1.65,1.24,1.175,2.825,...,6.825,8.825,2.415,4.415,6.005,7.800,1.175,3.175,4.765,6.560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40195,18005,Festhalle Geinsheim,15014,Loblocher Straße,14100,10281,4.15,3.14,5.605,9.755,...,25.115,32.795,8.745,16.425,23.095,30.270,5.605,13.285,19.955,27.130
40196,18005,Festhalle Geinsheim,15015,Am Krautgarten,12650,8787,3.65,2.76,5.335,8.985,...,23.305,30.465,8.095,15.255,21.525,28.240,5.335,12.495,18.765,25.480
40197,18005,Festhalle Geinsheim,16009,In den Obergärten,6933,5236,2.90,2.19,2.950,5.850,...,14.650,19.050,5.140,9.540,13.230,17.275,2.950,7.350,11.040,15.085
40198,18005,Festhalle Geinsheim,16027,Altes Schulhaus Lachen,5694,4883,2.65,2.00,2.485,5.135,...,12.755,16.565,4.485,8.295,11.455,14.940,2.485,6.295,9.455,12.940
40199,18005,Festhalle Geinsheim,17007,Duttweiler Dorfplatz,3678,3358,2.40,1.81,1.635,4.035,...,9.705,12.540,3.445,6.280,8.525,11.065,1.635,4.470,6.715,9.255

In [7]:
df.columns

Index([                      'Start #',                    'Start Name',
                              'Ende #',                     'Ende Name',
                           'Route [m]',                 'Luftlinie [m]',
           'VRN-eTarif\nohne Bahncard',      'VRN-eTarif\nmit BahnCard',
                   'Qualitätszuschlag', 'MoD-Fahrpreis \nohne BahnCard',
        'MoD-Fahrpreis\n mit Bahncard',             0.12680550240634963,
                   0.07159177456207169,             0.18042226487523982,
                    0.5159630940478845,              0.2894135567402895,
                      0.72936660268714,                     'price_mod',
                     'price_mod_2pers',               'price_mod_3pers',
                     'price_mod_4pers',                'price_bahncard',
                'price_bahncard_2pers',          'price_bahncard_3pers',
                'price_bahncard_4pers',           'price_vrn_surcharge',
           'price_vrn_surcharge_2pers',     'price_vrn_surcharge_3pers',
           'price_vrn_surcharge_4pers'],
      dtype='object')

In [3]:
upload_df = df[['Start #','Start Name','Ende #','Ende Name','Route [m]','Luftlinie [m]',]]
upload_df

,Start #,Start Name,Ende #,Ende Name,Route [m],Luftlinie [m]
0,1001,Mandelgasse,1002,Hauptfeuerwache,366,285
1,1001,Mandelgasse,1003,Kindergarten St. Marien,994,586
2,1001,Mandelgasse,1004,Strohmarkt,796,694
3,1001,Mandelgasse,1005,Rathaus,555,510
4,1001,Mandelgasse,1006,Villenstraße,1416,947
...,...,...,...,...,...,...
40195,18005,Festhalle Geinsheim,15014,Loblocher Straße,14100,10281
40196,18005,Festhalle Geinsheim,15015,Am Krautgarten,12650,8787
40197,18005,Festhalle Geinsheim,16009,In den Obergärten,6933,5236
40198,18005,Festhalle Geinsheim,16027,Altes Schulhaus Lachen,5694,4883
40199,18005,Festhalle Geinsheim,17007,Duttweiler Dorfplatz,3678,3358

In [17]:
renamed_upload_df = upload_df.rename(columns={'Start #':'id_start','Start Name':'name_start','Ende #':'id_end','Ende Name':'name_end','Route [m]':'route_car','Luftlinie [m]':'route_air'})
renamed_upload_df.drop(columns=["name_start","name_end"],inplace=True)
renamed_upload_df

       id_start  id_end  route_car  route_air
0          1001    1002        366        285
1          1001    1003        994        586
2          1001    1004        796        694
3          1001    1005        555        510
4          1001    1006       1416        947
...         ...     ...        ...        ...
40195     18005   15014      14100      10281
40196     18005   15015      12650       8787
40197     18005   16009       6933       5236
40198     18005   16027       5694       4883
40199     18005   17007       3678       3358

[40200 rows x 4 columns]

In [18]:


Database.insert_dataframe(renamed_upload_df,'stopconnection')

Added column 'db_updated_at' 2022-05-23 13:05:27.289873
Dropped columns [] from input df
Commit Succesful

In [20]:
stopconnection = Database.query_dataframe("stopconnection")
stopconnection

,db_updated_at,id_start,name_start,id_end,name_end,route_car,route_air
0,2022-05-23 13:05:27,1001,None,1002,None,366.0,285.0
1,2022-05-23 13:05:27,1001,None,1003,None,994.0,586.0
2,2022-05-23 13:05:27,1001,None,1004,None,796.0,694.0
3,2022-05-23 13:05:27,1001,None,1005,None,555.0,510.0
4,2022-05-23 13:05:27,1001,None,1006,None,1416.0,947.0
...,...,...,...,...,...,...,...
40195,2022-05-23 13:05:27,18005,None,15014,None,14100.0,10281.0
40196,2022-05-23 13:05:27,18005,None,15015,None,12650.0,8787.0
40197,2022-05-23 13:05:27,18005,None,16009,None,6933.0,5236.0
40198,2022-05-23 13:05:27,18005,None,16027,None,5694.0,4883.0
40199,2022-05-23 13:05:27,18005,None,17007,None,3678.0,3358.0

In [21]:
print(Database.query_dataframe(query="show tables"))

  Tables_in_teamproject
0               modstop
1                 rides
2        stopconnection
3             testtable

In [5]:
query_df.columns

Index(['db_updated_at', 'id', 'name', 'latitude', 'longitude', 'adresse'], dtype='object')

In [6]:
query_df = Database.query_dataframe('rides')
query_df

,db_updated_at,id,user_id,distance,number_of_passenger,price_operations,price_offer,price_payed,free_ride,payment_type,...,rating,rating_puenktlichkeit,rating_sauberkeit,rating_fahrer,rating_find_modstop,rating_other_comments,rating_question_one,rating_question_two,cancellation_reason,cancellation_comment
0,2022-05-09 22:25:51,0f12f88d-00b8-4bb3-a231-683117c0b075,f07028da-ca7e-4713-9e45-743c71712e80,3040,1.0,3.45,1.55,1.55,0.0,VRN,...,None,None,None,None,None,None,None,None,None,None
1,2022-05-09 22:25:51,12011bcd-9ee9-4d1a-aba2-b3a5f9097a53,d2a75ace-8b9f-4b32-9914-85e434ce9019,3048,1.0,3.45,3.45,3.45,0.0,STANDARD,...,None,None,None,None,None,None,None,None,None,None
2,2022-05-09 22:25:51,18fec0a6-b7ba-442b-8472-04bdb6ba1b86,51e1a1a8-995c-488c-84ce-3789e46f0417,3575,1.0,0.00,2.77,0.00,0.0,BAHN_CARD,...,None,None,None,None,None,None,None,None,None,None
3,2022-05-09 22:25:51,1dc450cc-7640-4c71-860b-827a64a3b9e6,c7348715-229b-46ce-8ccf-bd9fa10af015,6257,1.0,5.05,2.95,2.95,0.0,VRN,...,None,None,None,None,None,None,None,None,None,None
4,2022-05-09 22:29:33,2091a7bc-d075-4d05-9a5c-8f6761edaf1f,f07028da-ca7e-4713-9e45-743c71712e80,3040,1.0,3.45,1.55,1.55,0.0,VRN,...,None,None,None,None,None,None,None,None,None,None
5,2022-05-09 22:25:51,2965,1a6d2ec4-7e85-4e5b-aed0-1c3693268986,3998,NaN,NaN,NaN,NaN,NaN,STANDARD,...,None,None,None,None,None,None,None,None,None,None
6,2022-05-09 22:25:51,2966,2c172cdf-dd04-4613-9073-9517adef0138,8109,NaN,NaN,NaN,NaN,NaN,STANDARD,...,None,None,None,None,None,None,None,None,None,None
7,2022-05-09 22:25:51,2970,181628b6-2ecd-4368-bcaa-c9e38162dc57,6025,NaN,NaN,NaN,NaN,NaN,BAHN_CARD,...,None,None,None,None,None,None,None,None,None,None
8,2022-05-09 22:25:51,2971,181628b6-2ecd-4368-bcaa-c9e38162dc57,6025,NaN,NaN,NaN,NaN,NaN,BAHN_CARD,...,None,None,None,None,None,None,None,None,None,None
9,2022-05-09 22:25:51,3cffa0f3-e278-4828-b0a1-f55cb35c1adb,44f61d06-8e79-42c6-9abd-0e85fcaf9d6d,7233,1.0,0.00,5.55,0.00,1.0,STANDARD,...,None,None,None,None,None,None,None,None,None,None
10,2022-05-09 22:25:51,5727475e-8224-4302-9228-c92b9d4a5220,f8ff0526-887a-4e48-ad96-977e12fd70c1,5483,1.0,4.65,4.65,0.00,0.0,STANDARD,...,None,None,None,None,None,None,None,None,None,None
11,2022-05-09 22:25:51,58744ff5-617c-4d8f-912c-1b702e602fec,f07028da-ca7e-4713-9e45-743c71712e80,3040,1.0,3.45,1.55,1.55,0.0,VRN,...,None,None,None,None,None,None,None,None,None,None
12,2022-05-09 22:30:47,5983c473-f057-4293-a6de-0300b6e281eb,a823fecb-2094-4738-a35e-c08887cf2468,6207,1.0,5.05,5.05,5.05,0.0,STANDARD,...,None,None,None,None,None,None,None,None,None,None
13,2022-05-09 22:25:51,5b9be6cf-1b25-43d7-b077-e0ede60ba49a,f07028da-ca7e-4713-9e45-743c71712e80,3040,1.0,3.45,1.55,1.55,0.0,VRN,...,None,None,None,None,None,None,None,None,None,None
14,2022-05-09 22:29:33,6109031f-131f-4290-a6bd-0c0cb43e1ead,d2a75ace-8b9f-4b32-9914-85e434ce9019,3048,1.0,3.45,3.45,3.45,0.0,STANDARD,...,None,None,None,None,None,None,None,None,None,None
15,2022-05-09 22:29:33,6ede6c5d-348b-4e43-8954-f5d5e61ad1bf,b6537f08-519c-4c67-ad43-6996aca5fb9a,4335,1.0,4.10,4.10,4.10,0.0,STANDARD,...,None,None,None,None,None,None,None,None,None,None
16,2022-05-09 22:30:47,71cc275d-671a-402a-8f90-3eac44ef5330,a823fecb-2094-4738-a35e-c08887cf2468,2560,1.0,3.20,3.20,3.20,0.0,STANDARD,...,None,None,None,None,None,None,None,None,None,None
17,2022-05-09 22:25:51,72d3d151-aefc-44c8-bfa6-26fc8b0d00a9,c38d774c-1972-4a95-824d-23ad56cade88,5231,3.0,9.85,7.75,7.75,0.0,VRN,...,None,None,None,None,None,None,None,None,None,None
18,2022-05-09 22:25:51,7a8d19a9-8985-4006-a5bd-be821b43ccff,c7348715-229b-46ce-8ccf-bd9fa10af015,6257,1.0,5.05,2.95,2.95,0.0,VRN,...,None,None,None,None,None,None,None,None,None,None
19,2022-05-09 22:30:47,822e8338-0f7d-4e58-b9ec-f9ac5c3b6a8c,44f61d06-8e79-42c6-9abd-0e85fcaf9d6d,3479,1.0,3.65,3.65,0.00,1.0,STANDARD,...,None,None,None,None,None,None,None,None,None,None
20,2022-05-09 22:25:51,8848219a-e3d6-4ed7-ba9d-3159a2870630,b6537f08-519c-4c67-ad43-6996aca5fb9a,2078,1.0,0.00,2.95,0.00,0.0,STANDARD,...,None,None,None,None,None,None,None,None,None,None
21,2022-05-09 22:25:51,90ef7121-ff20-40bb-9489-f9e935519443,7b093b19-1bc2-4bc0-b9cb-fcb8cfb8f074,5974,1.0,4.90,2.80,2.80,0.0,VRN,...,None,None,None,None,None,None,None,None,None,None
22,2022-05-09 22:25:51,95ec2460-b9f8-49ff-8ac6-e33a9b9afbad,b55368d0-7774-4e8a-9a58-6c283a92072f,4302,1.0,4.10,2.40,2.40,0.0,VRN,...,None,None,None,None,None,None,None,None,None,None
23,2022-05-09 22:25:51,bb916271-0627-4196-8ec1-5324e0e1f71d,f07028da-ca7e-4713-9e45-743c71712e80,3040,1.0,3.45,1.55,1.55,0.0,VRN,...,None,None,None,None,None,None,None,None,None,None
24,2022-05-09 22:30:47,e32bd227-1e4f-45bd-8738-1344a9be848e,44f61d06-8e79-42c6-9abd-0e85fcaf9d6d,2726,1.0,3.30,3.30,0.00,1.0,STANDARD,...,None,None,None,None,None,None,None,None,None,None
25,2022-05-09 22:29:33,e44de3d2-33c7-4cc6-8326-a8033790b25a,76f7bb28-ae72-4d6b-83f5-ce252a641f81,5435,1.0,4.65,2.35,0.00,0.0,VRN,...,None,None,None,None,None,None,None,None,None,None
26,2022-05-09 22:25:51,f797b4d6-2fd4-442a-aec3-32c7f34c9b3e,7b093b19-1bc2-4bc0-b9cb-fcb8cfb8f074,6511,1.0,5.20,3.10,3.10,0.0,VRN,...,None,None,None,None,None,None,None,None,None,None
27,2022-05-09 22:25:51,f9746493-25b9-40fc-bd1e-87d458abfad9,729c1dee-ab62-43a2-abf9-5e6320fb2338,2223,1.0,3.05,3.05,3.05,0.0,STANDARD,...,None,None,None,None,None,None,None,None,None,None